.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.square {
  width: 120px;
  height: 150px;
  background-color: red;
  box-sizing: border-box;
  border:1px solid;
  display:block;
  position: relative;
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform-origin: center 400px;
  
}
.square:nth-child(1) {
  transform: rotate(-60deg);
}
.square:nth-child(2) {
  transform: rotate(-45deg);
}
.square:nth-child(3) {
  transform: rotate(-30deg);
}
.square:nth-child(4) {
  transform: rotate(-15deg);
}
.square:nth-child(5) {
  transform: rotate(0deg);
}
.square:nth-child(6) {
  transform: rotate(15deg);
}
.square:nth-child(7) {
  transform: rotate(30deg);
}
.square:nth-child(8) {
  transform: rotate(45deg);
}
.square:nth-child(9) {
  transform: rotate(60deg);
}



.triangle {
  width: 100px;
  height: 100px;
  background-color: greenyellow;
  display:block;
  top: 15px;
  left: 15px;

  border-style: 'solid';
  border-top-width: 0;
  border-right-width: 45;
  border-bottom-width: 90;
  border-left-width: 45;
  border-top-color: 'transparent';
  border-right-color: 'transparent';
  border-bottom-color: 'red';
  border-left-color: 'transparent';
}